In [1]:
from IPython.core.display import HTML
styles = open("../styles/custom.css", "r").read()
HTML( styles )

In [2]:
import pandas as pd
import numpy as np

df_train = pd.read_csv( './dataset/train_set.csv' )
df_test = pd.read_csv( './dataset/test_set.csv' )
df = df_train.append( df_test )

In [3]:
import datetime

def extract_year_month_day_from_quote_date( p_df ) :
    p_df[ 'quote_date' ] = pd.to_datetime( p_df[ 'quote_date' ] )    # string을 datetime으로 형변환
    p_df[ 'year' ] = p_df[ 'quote_date' ].dt.year    # 연도
    p_df[ 'month' ] = p_df[ 'quote_date' ].dt.month    # 월
    p_df[ 'day' ] = p_df[ 'quote_date' ].dt.day    # 일

    return p_df

In [4]:
df = extract_year_month_day_from_quote_date( df )

In [5]:
df.head()

,annual_usage,bracket_pricing,cost,id,min_order_quantity,quantity,quote_date,supplier,tube_assembly_id,year,month,day
0,0,Yes,21.905933,NaN,0,1,2013-07-07,S-0066,TA-00002,2013,7,7
1,0,Yes,12.341214,NaN,0,2,2013-07-07,S-0066,TA-00002,2013,7,7
2,0,Yes,6.601826,NaN,0,5,2013-07-07,S-0066,TA-00002,2013,7,7
3,0,Yes,4.687770,NaN,0,10,2013-07-07,S-0066,TA-00002,2013,7,7
4,0,Yes,3.541561,NaN,0,25,2013-07-07,S-0066,TA-00002,2013,7,7

In [6]:
df[ 'sales_result' ] = df[ 'annual_usage' ] * df[ 'quantity' ]

In [7]:
# sz_total_sum_by_supplier = df.groupby( [ 'supplier' ] )[ 'sales_result' ].sum()
# sz_total_sum_by_supplier
# sz_total_sum_by_supplier.to_csv( './dataset/01.original.dataset/supplier_total.csv' )

In [8]:
# sz_annual_sum_by_supplier = df.groupby( [ 'supplier', 'year' ] )[ 'sales_result' ].sum()
# sz_annual_sum_by_supplier.fillna( 0, inplace = True )
# sz_annual_sum_by_supplier
# sz_annual_sum_by_supplier.to_csv( './dataset/01.original.dataset/supplier_annual.csv' )

In [12]:
df_tube = pd.read_csv( './dataset/02.ml.verified.dataset/tube.material_id.verified.csv' )
df_tube.drop( [ 'diameter', 'wall', 'length', 'num_bends', 'bend_radius', 'end_a_1x', 'end_a_2x', 'end_x_1x', 'end_x_2x',
                'end_a', 'end_x', 'num_boss', 'num_bracket', 'other', 'bend_num_by_radius' ], axis = 1, inplace = True )
df_tube.head()

  tube_assembly_id material_id
0         TA-00001     SP-0035
1         TA-00002     SP-0019
2         TA-00003     SP-0019
3         TA-00004     SP-0019
4         TA-00005     SP-0029

In [13]:
df = df.merge( df_tube, how = 'inner', on = 'tube_assembly_id' )
df.head( 3 )

,annual_usage,bracket_pricing,cost,id,min_order_quantity,quantity,quote_date,supplier,tube_assembly_id,year,month,day,sales_result,material_id
0,0,Yes,21.905933,NaN,0,1,2013-07-07,S-0066,TA-00002,2013,7,7,0,SP-0019
1,0,Yes,12.341214,NaN,0,2,2013-07-07,S-0066,TA-00002,2013,7,7,0,SP-0019
2,0,Yes,6.601826,NaN,0,5,2013-07-07,S-0066,TA-00002,2013,7,7,0,SP-0019

In [19]:
sz_total_sum_by_material = df.groupby( [ 'material_id' ] )[ 'sales_result' ].sum()
sz_total_sum_by_material.to_csv( './dataset/01.original.dataset/material_total.csv' )
sz_total_sum_by_material

material_id
SP-0008            31987
SP-0019          2420291
SP-0028         13028144
SP-0029        178572727
SP-0030            10786
SP-0031             2414
SP-0032            37380
SP-0033           888138
SP-0034             9241
SP-0035         43912242
SP-0036              539
SP-0037          3094049
SP-0038           429710
SP-0039          3765698
SP-0041            79304
SP-0044               81
SP-0046           123937
SP-0048          1838772
Name: sales_result, dtype: int64

In [20]:
sz_annual_sum_by_material = df.groupby( [ 'material_id', 'year' ] )[ 'sales_result' ].sum()
sz_annual_sum_by_material.fillna( 0, inplace = True )
sz_annual_sum_by_material.to_csv( './dataset/01.original.dataset/material_annual.csv' )
sz_annual_sum_by_material

material_id  year
SP-0008      2014     31987
SP-0019      1987         0
             1989         0
             1995        15
             1996      2926
             1997      2433
             1999      1510
             2000         0
             2001       150
             2002        25
             2003       213
             2004       994
             2005     70600
             2006     66885
             2007    124322
...
SP-0046      1995          0
             1997          0
             2001        386
             2002         69
             2007        111
             2008        184
             2010       1463
             2011      27332
             2012       6750
             2013      86435
             2014       1207
SP-0048      2011       1200
             2012      52796
             2013     351506
             2014    1433270
Name: sales_result, Length: 194, dtype: int64